//slider

.slider-height{
    min-height: 950px;
    text-align: center;
}
.slider__content{
    & h5{
        color: $white;
        font-size: 20px;
        text-transform: uppercase;
    }
    & h1{
        font-size: 92px;
        color: $white;
        font-weight: 700;
        padding: 0 86px;
    }
}

.slider-active{
    & .slick-arrow{
        position: absolute;
        left: 70px;
        top: 50%;
        background: none;
        font-size: 48px;
        border: none;
        color: $white;
        transform: translate(-50%);
        z-index: 9;
    }
    & .slick-next{
        left: auto;
        right: 70px;
    }
}